Repository Talchain/plot-lite-service, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, docs, openapi, fixtures

ci: Ensure Vitest JSON report upload (non-blocking)
  .github/.github/workflows/warp-bootstrap.yml
  .github/workflows/ci.yml
  tools/ensure-tests-json.js
Labels: ci

chore: remove stray bootstrap workflow path
  .github/.github/workflows/warp-bootstrap.yml
Labels: ci

ci: examples validation tool and non-blocking workflow
  .github/workflows/examples-validation.yml
  fixtures/examples/sample.json
  test/examples.draft-shape.test.ts
  tools/validate-examples.js
Labels: ci, tests, fixtures

test: add shared helpers to reduce flakes
  test/_helpers/assert.ts
Labels: tests

ci: cache consistency check (non-blocking) with report
  .github/workflows/cache-consistency.yml
  tools/cache-check.js
Labels: ci

ci: release dry-run guard (non-blocking) with report
  .github/workflows/release-dryrun-guard.yml
  tools/release-dryrun-guard.js
Labels: ci

ci: SBOM (CycloneDX) non-blocking with JSON artifact
  .github/workflows/sbom.yml
  tools/generate-sbom.js
Labels: ci

ci: licence report (non-blocking) with JSON artifact
  .github/workflows/licence-report.yml
  tools/licence-report.js
Labels: ci

ci: add CodeQL analysis (non-blocking)
  .github/workflows/codeql.yml
Labels: ci

ci: Docker build check + Trivy (non-blocking) with JSON artifacts
  .github/workflows/docker-build-check.yml
  tools/docker-build-check.js
Labels: ci

ci: add Dependabot for npm and actions (weekly)
  .github/dependabot.yml
Labels: ci

ci: contract coverage (non-blocking) with JSON artifact
  .github/workflows/contract-coverage.yml
  tools/contract-coverage.js
Labels: ci

docs: add ADR template; ci: ADR lint (non-blocking) with JSON artifact
  .github/workflows/adr-lint.yml
  docs/adr/_template.md
  tools/adr-lint.js
Labels: ci, docs

ci: runtime change guard for PRs (non-blocking) with JSON artifact
  .github/workflows/runtime-change-guard.yml
  tools/runtime-change-guard.js
Labels: ci

ci: slow tests analyzer (non-blocking) with JSON artifact
  .github/workflows/slow-tests.yml
  tools/slow-tests.js
Labels: ci

ci: engines check (non-blocking) with JSON artifact
  .github/workflows/engines-check.yml
  tools/engines-check.js
Labels: ci

ci: nightly OpenAPI validation (non-blocking) with JSON artifact
  .github/workflows/nightly-openapi-validate.yml
  tools/openapi-validate.js
Labels: ci

ci: docs link check (non-blocking) with JSON artifact
  .github/workflows/docs-link-check.yml
  tools/docs-link-check.js
Labels: ci

ci: PR title check (non-blocking) with JSON artifact
  .github/workflows/pr-title-check.yml
Labels: ci

ci: nightly smoke (gated by TEST_BASE_URL) non-blocking with JSON artifact
  .github/workflows/nightly-smoke.yml
Labels: ci

ci: seed corpus (non-blocking) with JSON artifact
  .github/workflows/seed-corpus.yml
  tools/seed-corpus.js
Labels: ci

ci: OpenAPI examples roundtrip (non-blocking) with JSON artifact
  .github/workflows/openapi-examples.yml
  tools/openapi-examples.js
Labels: ci

ci: OpenAPI Spectral lint (non-blocking) with JSON artifact
  .github/workflows/spectral-lint.yml
Labels: ci

ci: add concurrency group and 30m timeout to main CI
  .github/workflows/ci.yml
Labels: ci

ci: make CodeQL init/autobuild non-blocking
  .github/workflows/codeql.yml
Labels: ci

ci: add CodeQL summary JSON artifact (non-blocking)
  .github/workflows/codeql.yml
Labels: ci

.github/labeler.yml:

# Label PRs by changed paths
ci:
  - .github/**
  - tools/**
tests:
  - test/**
docs:
  - docs/**
openapi:
  - openapi/**
fixtures:
  - fixtures/**
